.cardImage {
  height: 12.5em;
  width: 15em;
}

@media only screen and (max-width: 635px) {
  .cardImage {
    height: 10em;
    width: 10em;
  }
}

@media only screen and (max-width: 485px) {
  .cardImage {
    height: 7.5em;
    width: 7.5em;
  }
}
