#cardBoard {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 5em 5em;
}

#cardContainer {
  margin: 2em 2em 2em 2em;
  display: flex;
  justify-content: space-around;
  align-content: space-around;
  padding: 1em;
}

@media only screen and (max-width: 1315px) {
  #cardBoard {
    background-color: lightblue;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 2em 2em;
  }
}
