#scoreboardContainer {
  display: flex;
  justify-content: center;
}

#scoreboard {
  color: #f64c72;
  display: flex;
  font-size: 1.75em;
  display: flex;
  justify-content: space-around;
  letter-spacing: 0.5px;
  width: 75%;
}
